@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* PROFILE IMAGE BLOB */
.home-img {
  background: url(/assets/img/profile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 300px;
  animation: profile__animate 8s ease-in-out infinite;
  will-change: border-radius;
}

/* BLOB ANIMATION */
@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
